@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=<MDAwMTU1MTY2NC1wcmFrYXNoOkFoUlMyUDR5eFJjdkNIWEc2WmhVcDRrdXlOZ3BqY1dB>
always-auth=true
legacy-peer-deps=true
