<ng-container>

<form name="cx-payment-form" >
    <h3 class="cx-checkout-title d-none d-lg-block d-xl-block"> Payment </h3><br>
    <div class="cx-payment-form-billing">
        <div class="cx-payment-form-billing-address">Billing address  </div>
        <ng-container *ngIf="showSameAsDeliveryAddressCheckbox$ | async">
            <div class="form-group">
                <div class="form-check">
                    <label>
                        <input type="checkbox" class="form-check-input" [checked]="sameAsDeliveryAddress" (change)="toggleSameAsDeliveryAddress()" />
                        <span class="form-check-label">Same as shipping address</span>
                    </label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf=" sameAsDeliveryAddress && (deliveryAddress$ | async) as deliveryAddress; else billingAddress ">
            <cx-card [content]= "getAddressCardContent(deliveryAddress)" ></cx-card>
        </ng-container>

        <ng-template #billingAddress>
            <div [formGroup]= "billingAddressForm">
                <div class="form-group" formGroupName="country">
                    <ng-container *ngIf="countries$ | async as countries">
                        <div *ngIf="countries.length !== 0">
                            <label aria-required="true">
                                <span class="label-content required">Country</span>
                                <ng-select aria-required="true" [searchable]="true" [clearable]="false" [items]="countries" bindLabel="name" bindValue="isocode" placeholder="SelectOne" (change)="countrySelected($event)" formControlName="isocode"></ng-select>
    <!--
                                <cx-form-errors aria-live="assertive" aria-atomic="true" [control]="billingAddressForm.get('country.isocode')" ></cx-form-errors>
    -->
                            </label>
                        </div>
                    </ng-container>
                </div>
                <div class="form-group">
                    <label>
                        <span class="label-content required"> firstName</span>
                        <input aria-required="true" class="form-control" type="text" placeholder=" firstName " formControlName="firstName" />
    <!--
                        <cx-form-errors aria-live="assertive" aria-atomic="true" [control]="billingAddressForm.get('firstName')" ></cx-form-errors> 
    -->
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span class="label-content required">lastName</span>
                        <input aria-required="true" type="text" class="form-control" placeholder="lastName" formControlName="lastName" />
    <!--
                        <cx-form-errors aria-live="assertive" aria-atomic="true" [control]="billingAddressForm.get('lastName')" ></cx-form-errors>
    -->
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span class="label-content required">address1</span>
                        <input aria-required="true" type="text" class="form-control" placeholder="streetAddress" formControlName="line1" />
    <!--
                        <cx-form-errors aria-live="assertive" aria-atomic="true" [control]="billingAddressForm.get('line1')" ></cx-form-errors>
    -->
                    </label>
                </div> 
                <div class="form-group">
                    <label>
                        <span class="label-content">address2</span>
 
                        <input type="text" class="form-control" placeholder="aptSuite" formControlName="line2" />
  
                    </label>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>
                            <span class="label-content required">city</span>
                            <input aria-required="true" type="text" class="form-control" placeholder="city" formControlName="town" />
    <!--
                            <cx-form-errors aria-live="assertive" aria-atomic="true" [control]="billingAddressForm.get('town')" ></cx-form-errors>
    -->
                        </label>
                    </div> 
                    <div class="form-group col-md-6"> 
                        <label>
                            <span class="label-content required">zipCode</span>
                            <input aria-required="true" type="text" class="form-control" placeholder="zipCode" formControlName="postalCode" />
    <!--
                            <cx-form-errors aria-live="assertive" aria-atomic="true" [control]="billingAddressForm.get('postalCode')" ></cx-form-errors>
    -->
                        </label>
                    </div>
                    <ng-container *ngIf="regions$ | async as regions" formGroupName="region" >
                        <ng-container *ngIf="regions.length !== 0">
                            <div class="form-group col-md-6">
                                <label aria-required="true">
                                    <span class="label-content required">state</span>
                                    <ng-select aria-required="true" class="region-select" formControlName="isocodeShort" [searchable]="true" [clearable]="false" [items]="regions" bindLabel="{{ regions[0].name ? 'name' : 'isocodeShort' }}" bindValue="{{ regions[0].name ? 'isocodeShort' : 'region' }}" placeholder="selectOne"></ng-select>
    <!--
                                    <cx-form-errors aria-live="assertive"  aria-atomic="true" [control]=" billingAddressForm.get('region.isocodeShort') "></cx-form-errors>
    -->
                                </label>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-template>
    </div>
    <div class= "cx-checkout-btns row ">
        <div class= "col-md-12 col-lg-6 ">
            <button class= "btn btn-block btn-action" (click)= back()>back</button>
        </div>
        <div class= "col-md-12 col-lg-6 ">
            <button class= "btn btn-block btn-primary" (click) = "next()"  type= "button">continue</button>
        </div>
    </div>
</form>
</ng-container>

<ng-template #spinner>
	<cx-spinner></cx-spinner>
</ng-template>