# folders/files to always ignore
.metadata
**/gensrc

#IDE files
.gradle
.idea
idea-module-files
*.iml
com.springsource.sts.config.flow.prefs
org.sonar.ide.eclipse.core.prefs
HybrisCodeGeneration.launch

org.springframework.ide.eclipse.beans.core.prefs
org.springframework.ide.eclipse.core.prefs
.springBeans
eclipsebin

# NPM packages
**/node_modules

# Compiled class file
*.class

# Test classes
**/testclasses




